.venv/
backup/
__pycache__/
checkpoints/
datasets/
outputs/
logs/
wandb/
lessons.md
Phase_1_Data/
visuals/
vis.ipynb
ElitNet_dip/
ElitNet.zip
data/idrid_patches/
model/
callbacks/
vis_results/*
omkumar@10.9.7.23